.App {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f2f2f2;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.search-container {
  text-align: center;
  margin-bottom: 20px;
}

.search-container input {
  padding: 10px;
  width: 300px;
  border-radius: 5px;
  border: none;
}

.search-container button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-container button:hover {
  background-color: #555;
}

.meal-container {
  display: flex;
  flex-wrap: wrap;
}

.meal-card {
  width: 300px;
  margin: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  cursor: pointer;
}

.meal-card:hover {
  transform: translateY(-5px);
}

.meal-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.meal-card .meal-details {
  padding: 10px;
}

.meal-card h3 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.meal-card p {
  margin: 5px 0;
  font-size: 14px;
  color: #777;
}

.no-meals {
  text-align: center;
  color: #777;
}



/* !for Popup */

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  text-align: left;
}

.popup h2 {
  margin-top: 0;
}

.popup p {
  margin: 10px 0;
}

.popup button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup button:hover {
  background-color: #555;
}



/* header */
.logo-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;
  text-align: center;
}

.logo-image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.logo-text {
  margin: 0;
  color: #333;
}
